{% extends "base.html" %}
{% block title %}Balance{% endblock title %}

{% block content %}
<h1>Balance</h1>

    <h2>Last three incomes</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Amount</th>
                <th>Category</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for income in last_three_incomes %}
                <tr>
                    <td>{{income.amount}}</td>
                    <td>{{income.category.name}}</td>
                    <td>{{income.date}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Last three expenses</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Amount</th>
                <th>Category</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for expense in last_three_expenses %}
                <tr>
                    <td>{{expense.amount}}</td>
                    <td>{{expense.category.name}}</td>
                    <td>{{expense.date}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <h3>Total Income: {{ total_incomes }}</h3>
    <h3>Total Expense: {{ total_expense }}</h3>
    <h2>Balance: {{balance}}</h3>
        
        <h2>Total Expense with Card: {{total_expense_card}}</h2>
        <h2>Total Expense with Cash: {{total_expense_cash}}</h2>
        
        <h2>Total Income with Card: {{total_income_card}}</h2>
        <h2>Total Income with Cash: {{total_income_cash}}</h2>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
        
        
        
        <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
        
        <script>
            
            const xValues = ["Expense Card", "Expense Cash", "Income Card", "Income Cash"];
            const yValues = [{{ total_expense_card }}, {{ total_expense_cash }}, {{ total_income_card }}, {{ total_income_cash }}];
            const barColors = ["red", "green", "blue", "orange"];
            
            new Chart("myChart", {
                type: "bar",
                data: {
                    labels: xValues,
                    datasets: [{
                        backgroundColor: barColors,
                        data: yValues
                    }]
                },
                options: {
                    legend: { display: false },
                    title: {
                        display: true,
                        text: "Financial Overview"
                    }
                }
            });
        </script>

{% endblock %}
        