<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Expense Category</title>
</head>
<body>

    <h1>Add Expense Category</h1>

    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit" />
    </form>

    <h2>Current expense categories list</h2>

    {% for category in expense_categories %}
        <li>{{ category.name }}</li>
    {% endfor %}
</body>
</html>