{% extends "base.html" %}
{% block title %}Income{% endblock title %}
{% block style %}
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #ddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #ddd;
        }
    </style>
{% endblock %}

{% block content %}
<h1>Income</h1>
<table>
    <tr>
        <th>Amount</th>
        <th>Date</th>
        <th>Category</th>
        <th>Description</th>
    </tr>
    {% for x in incomes %}
        <tr>
            <td>{{x.amount}} €</td>
            <td>{{x.date}}</td>
            <td>{{x.category}}</td>
            <td>{{x.description}}</td>
            <td><a href="/income/edit/{{x.id}}">Edit</a></td>
            <td><a href="/income/delete/{{x.id}}">Delete</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}