{% extends 'base.html' %}
{% comment %} {% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'style.css' %}">{% endblock %} {% endcomment %}
{% block title %}Spend track {% endblock%}
{% block style %}
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
{% endblock %}

{% block content%}
<div>
    <h1>Spend tracker</h1>
    <h3>{% now "d-m-Y G:i:s" %}</h3>
    <table>
        <tr>
            <th>Amount</th>
            <th>Date</th>
            <th>Category</th>
            <th>Description</th>
            {% comment %} <th>Subcategory</th> {% endcomment %}
        </tr>
        {% for x in myexpenses %}
        <tr>
            <td>{{x.amount}} €</td>
            <td>{{x.date}}</td>
            <td>{{x.category}}</td>
            <td>{{x.description}}</td>
            {% comment %} <td>{{x.subcategory}} {% endcomment %}
            <td><a href="details/{{ x.id }}">details</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
<!-- <script>
    window.setTimeout(function () {
    location.href = "http://192.168.1.108:8000";
}, 5000);
</script> -->